<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

 
    <targets>
    <target xsi:type="Trace" name="trace" layout="${longdate}|${level:uppercase=true}|${callsite:includeNamespace=false:includeSourcePath=false}|${message}"/>
    <target name="fileTarget"  xsi:type="File" fileName="${basedir}\report\logs.log" layout="${date}|${level}|${message}" />
    <!--<target xsi:type="File" name="errorlog" layout="${longdate}|${level:uppercase=true}|${callsite:includeNamespace=false:includeSourcePath=false}|${message}"
            fileName="${basedir}\report\errors.log" keepFileOpen="false"/>-->
     <target xsi:type="File" name="errorlog" layout="${longdate}|${level:uppercase=true}|${stacktrace}|${message}"
            fileName="${basedir}\report\errors.log" keepFileOpen="false"/>
  </targets>
    <rules>
      <!-- local file logger -->
      <logger minlevel="Info" maxlevel="Info" writeTo="fileTarget"/>
      <logger minlevel="Trace" maxlevel="Trace" writeTo="trace" />
      <logger minlevel="Error" maxlevel="Error" writeTo="errorlog" />
    </rules>
</nlog>
<!--name="InfoLogger"-->